body{
    background-color: #eae0e0;
}
h1,h2{
    color: #31473A;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
}
details {
    padding: 10px;
    background-color: #31473A;
    border-radius: 5px;
    margin: 10px;
  }
  summary {
    background-color: #7C8363;
    color: #eae0e0;
    font-weight: bold;
    padding: 10px;
  }
  ul{
    list-style-type: circle;
    color: white;
  }
  li{
    padding: 4px;
  }